@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Inter&display=swap');

*{
    box-sizing: border-box;
    user-select: none;
}
html{height:100%;}
body {
    background-color: #304023;
    display: flex;
    flex-flow: column;
    height: 100%;
}

#icon{
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
}
.drop-shadow{
    text-shadow: 2px 4px 6px #0000007d
}
nav{
    background-color: #9d9d9d;
    font-family: 'Inter', sans-serif;
}
a{
    color:#ffffff !important;
}
a:not(.active):not(.navbar-brand){
    color:#ffffffb9 !important;
    margin-left: 1rem;
}
.carousel-black{
    filter: invert(100%);
}

.carousel-paint-l {
    margin-left: 10vw;
}

.carousel-paint-r {
    margin-right: 10vw;
}

.carousel-container{
    display: flex;
    height: 500px;
    max-height: 500px;
    
}

.carousel-d {
    margin-left: 8vw;
    padding-left: 5vw;
    padding-right: 5vw;
    height: 80%;
    width: 80%;
    padding-bottom: 2%;
    margin-top: 2%;
}

.carousel-inner {
    background-color: #D9D9D9;
}

.custom-box {
    background-color: #D9D9D9;
    padding: 5%;
    border-radius: 1px;
    height: 20vh;
}
.details{
    display: flex;
    align-items: center;
    justify-content: center;
}