@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Inter&display=swap');

*{
    box-sizing: border-box;
    user-select: none;
}
html{height:100%;}
body {
    background-color: #304023;
    display: flex;
    flex-flow: column;
    height: 100%;
}

#icon{
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
}
.drop-shadow{
    text-shadow: 2px 4px 6px #0000007d
}
nav{
    background-color: #9d9d9d;
    font-family: 'Inter', sans-serif;
}
a{
    color:#ffffff !important;
}
a:not(.active):not(.navbar-brand){
    color:#ffffffb9 !important;
    margin-left: 1rem;
}
.carousel-black{
    filter: invert(100%);
}

.carousel-paint-l {
    margin-left: 10vw;
}

.carousel-paint-r {
    margin-right: 10vw;
}

.carousel-container{
    display: flex;
    height: 500px;
    max-height: 500px;
    max-width: 1200px;
    margin-left: 4%;
    overflow: hidden;
}

.carousel-d {
    margin-left: 15vw;
    padding-left: 5vw;
    padding-right: 5vw;
    height: 70%;
    width: 70%;
    padding-bottom: 2%;
    margin-top: 2%;
}

.carousel-i {
    height: 100%;
    width: 100%;
}

.carousel-inner {
    background-color: #D9D9D9;
}

.custom-box {
    background-color: #D9D9D9;
    padding: 5%;
    border-radius: 1px;
    height: 20vh;
}
.details{
    display: flex;
    align-items: center;
    justify-content: center;
}

.gjs-row{
    display:flex;
    justify-content:flex-start;
    align-items:stretch;
    flex-wrap:nowrap;
    padding:10px;
  }
  .gjs-cell{
    min-height:75px;
    flex-grow:1;
    flex-basis:100%;
    background-color: white;
  }
  #iq59{
    height:398px;
    text-align:left;
    display:flex;
    position:static;
    align-items:center;
    justify-content:space-around;
  }
  #iqyf{
    flex-basis:175%;
    height:300px;
    max-width:900px;
  }
  @media (max-width: 768px){
    .gjs-row{
      flex-wrap:wrap;
    }
  }
  @media only screen and (max-width: 1350px) and (min-width: 768px)  {
    .gjs-row {
        margin-top: 5%;
    }
  }
.banner{
    height: 300px;
}
  .gjs-row{
    display:flex;
    justify-content:flex-start;
    align-items:stretch;
    flex-wrap:nowrap;
    padding:10px;
  }
  .gjs-cell{
    min-height:75px;
    flex-grow:1;
    flex-basis:100%;
  }
  #ied1{
    height:100%;
    justify-content:space-around;
    align-items:center;
    display: flex;
  }
  #i3s4{
    display:block;
    margin:0px 85px 0px 85px;
    background-color: #d9d9d9;
  }
  #ilq4{
    flex-basis:137%;
    margin:0px 85px 0px 85px;
  }
  @media (max-width: 768px){
    .gjs-row{
      flex-wrap:wrap;
    }
  }

.ev{
    color: #9d9d9d;
    font-size: 20px;
    background-color: #D9D9D9;
    padding: 3px;
}
